# advanced_billing
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module AdvancedBilling
  # ReferralCodesController
  class ReferralCodesController < BaseController
    # Use this method to determine if the referral code is valid and applicable
    # within your Site. This method is useful for validating referral codes that
    # are entered by a customer.
    # ## Referrals Documentation
    # Full documentation on how to use the referrals feature in the Advanced
    # Billing UI can be located
    # [here](https://maxio.zendesk.com/hc/en-us/sections/24286965611405-Referral
    # s).
    # ## Server Response
    # If the referral code is valid the status code will be `200` and the
    # referral code will be returned. If the referral code is invalid, a `404`
    # response will be returned.
    # @param [String] code Required parameter: The referral code you are trying
    # to validate
    # @return [ReferralValidationResponse] response from the API call
    def validate_referral_code(code)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/referral_codes/validate.json',
                                     Server::DEFAULT)
                   .query_param(new_parameter(code, key: 'code')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('BasicAuth')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(ReferralValidationResponse.method(:from_hash))
                    .local_error_template('404',
                                          'Invalid referral code.',
                                          SingleStringErrorResponseException))
        .execute
    end
  end
end
