# advanced_billing
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module AdvancedBilling
  # ReferralCodesController
  class ReferralCodesController < BaseController
    # Use this method to determine if the referral code is valid and applicable
    # within your Site. This method is useful for validating referral codes that
    # are entered by a customer.
    # ## Referrals Documentation
    # Full documentation on how to use the referrals feature in the Chargify UI
    # can be located
    # [here](https://chargify.zendesk.com/hc/en-us/articles/4407802831643).
    # ## Server Response
    # If the referral code is valid the status code will be `200` and the
    # referral code will be returned. If the referral code is invalid, a `404`
    # response will be returned.
    # @param [String] code Required parameter: The referral code you are trying
    # to validate
    # @return [ReferralValidationResponse] response from the API call
    def validate_referral_code(code)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/referral_codes/validate.json',
                                     Server::DEFAULT)
                   .query_param(new_parameter(code, key: 'code')
                                 .is_required(true))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('global')))
        .response(new_response_handler
                   .is_nullify404(true)
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(ReferralValidationResponse.method(:from_hash))
                   .local_error('404',
                                'Not Found',
                                SingleStringErrorResponseException))
        .execute
    end
  end
end
